# Entorno virtual
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.tmp
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Reportes de BFG
.bfg-report/